<a href="https://colab.research.google.com/github/jaswanth-972/AI-tasks-/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'apples': [3,2,0,1],
    'oranges': [0,3,7,2]
}

In [4]:
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [6]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [7]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64